<!-- Footer -->
<footer id="footer" class="footer pb-0 bg-black-111">
	<div class="container pb-20">
		<div class="row">
			<div class="col-md-4 text-center wow fadeInUp animation-delay1">
				Síguenos en:
				<ul class="social-icons icon-dark">
					<li><a href="https://www.facebook.com/laperalenafinca" target="_blank" data-bg-color="#3B5998"><i
								class="fa-brands fa-facebook"></i></a></li>
					<li><a href="https://instagram.com/laperalena" target="_blank" data-bg-color="#E1306C"><i
								class="fa-brands fa-instagram"></i></a></li>
				</ul>
			</div>
			<div class="col-md-4 text-center wow fadeInUp animation-delay2">
				Dónde estamos:
				<p class="font-16 text-theme-colored mt-20 mb-20">
					Carretera M-501 km 28
					<br />
					Villanueva de Perales 28609
					<br />
					(A 10 min. de Brunete)
				</p>
			</div>
			<div class="col-md-4 text-center wow fadeInUp animation-delay3">
				Contáctanos:
				<p class="font-16 text-theme-colored mt-20 mb-20">
					Teléfono y WhatsApp: 606 02 23 44
					<br />
					Email: info@fincalaperalena.com
				</p>
			</div>
		</div>
	</div>
</footer>