<!-- Footer -->
<footer id="footer" class="footer pb-0 bg-black-111">
	<div class="container pb-20">
		<div class="row">
			<div class="col-md-3 text-center wow fadeInUp animation-delay1">
				Síguenos en:
				<ul class="social-icons icon-dark">
					<li><a href="https://www.facebook.com/laperalenafinca" rel='nofollow noreferrer noopener'
							target="_blank" data-bg-color="#3B5998"><i class="fa-brands fa-facebook"></i></a></li>
					<li><a href="https://instagram.com/laperalena" rel='nofollow noreferrer noopener' target="_blank"
							data-bg-color="#E1306C"><i class="fa-brands fa-instagram"></i></a></li>
				</ul>
			</div>
			<div class="col-md-3 text-center wow fadeInUp animation-delay2">
				Dónde estamos:
				<p class="font-16 text-theme-colored mt-20 mb-20">
					Carretera M-501 km 28
					<br />
					Villanueva de Perales 28609
					<br />
					(A 10 min. de Brunete)
					<br />
					Madrid
				</p>
			</div>
			<div class="col-md-4 text-center wow fadeInUp animation-delay3">
				Contáctanos:
				<p class="font-16 text-theme-colored mt-20 mb-20">
					Teléfonos: <a href="tel:+34668544882">668 54 48 82</a> - <a href="tel:+34606022344">606 02 23
						44</a>
					<br />
					WhatsApp: <a href="https://wa.me/+34668544882" rel='nofollow noreferrer noopener'
						target="_blank">668 54 48 82</a> - <a href="https://wa.me/+34606022344"
						rel='nofollow noreferrer noopener' target="_blank">606 02 23 44</a>
					<br />
					Email: <a rel='nofollow noreferrer noopener'
						href="mailto:info@fincalaperalena.com">info@fincalaperalena.com</a>
				</p>
			</div>
			<div class="col-md-2 text-center wow fadeInUp animation-delay3">
				Encuéntranos también en:
				<a rel='nofollow noreferrer noopener' target="_blank" href='https://www.bodas.net'
					title='Bodas.net'><img alt='Bodas.net'
						src='https://www.bodas.net/images/sellos/Sello-bodas--gg1950.png'
						style='border-width:0px;' /></a>
			</div>
		</div>
	</div>
</footer>