<!-- Header -->
<header id="header" class="header navbar-scrolltofixed">
	<div class="header-nav navbar-dark">
		<div class="header-nav-wrapper">
			<div class="container">
				<nav>
					<div id="menuzord-right" class="menuzord default no-bg yellow">
						<a class="menuzord-brand pull-left flip font-great-vibes text-theme-colored font-32"
							href="{% link pages/index.html %}"><img
								src="{{'/assets/fotos/logotipofonn.webp' | relative_url}}" alt="Finca la Peraleña"></a>
						<ul class="menuzord-menu">
							{% for menu in site.data.menu %}

							<li {% if page.menu==menu.slug %} class="active" {% endif %}><a
									href="{{ menu.url | relative_url }}">{{menu.title}}</a>
							</li>
							{% endfor %}
						</ul>
					</div>
				</nav>
			</div>
		</div>
	</div>
</header>