---
permalink: /bodas
title: Bodas - Finca la Peraleña
menu: bodas
layout: default
---
<!-- Start main-content -->
<div class="main-content">
	<!-- Section: inner-header -->
	<section class="inner-header divider parallax layer-overlay overlay-dark-5"
		data-bg-img="http://placehold.it/1920x1284">
		<div class="container pt-200 pb-50">
			<!-- Section Content -->
			<div class="section-content pt-100">
				<div class="row">
					<div class="col-md-12">
						<h3 class="title text-white">Bodas</h3>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section: About -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-justify">En Finca La Peraleña, entendemos que la organización y celebración de una boda es un momento de
						suma importancia en la vida de una pareja. Nuestro objetivo es hacer las cosas de manera diferente, con una sola
						intención en mente: facilitar y hacer más sencillo el proceso. Sabemos que expresar opiniones e ideas sobre algo tan
						personal puede resultar complicado, por eso nos hemos comprometido en ayudar, asesorar, aconsejar y compartir este
						día tan especial.</p>
					
					<p class="text-justify">En La Peraleña, cada miembro de nuestro equipo humano comparte este compromiso, desde la
						gerencia hasta nuestro personal de catering. Todos estamos dedicados a brindar la máxima calidad y servicio a
						nuestros clientes, los novios, para asegurarnos de que obtengan siempre la mejor respuesta. Queremos que sepan que
						en La Peraleña los escuchamos con interés, agrado y cordialidad.</p>
					
					<p class="text-justify">Como parte de nuestro compromiso de ofrecer un servicio integral, también brindamos la
						posibilidad de celebrar la Ceremonia Civil en nuestra finca, en un entorno decorado y dedicado exclusivamente para
						este propósito. Esto nos permite satisfacer la creciente demanda social y proporcionar un escenario único y especial
						para el momento en que los novios intercambian sus votos.</p>
					
					<p class="text-justify">Nos apasiona ser partícipes de este día único en la vida de una pareja y nos esforzamos por
						crear experiencias inolvidables. En Finca La Peraleña, comprendemos que cada boda es única y personal. Por eso,
						trabajamos estrechamente con los novios para entender sus visiones, preferencias y sueños, y así poder convertirlos
						en realidad.</p>
					
					<p class="text-justify">Desde la elección del lugar perfecto hasta la planificación de cada detalle, nuestro equipo de
						expertos estará a su disposición para hacer de su boda un evento extraordinario. Nuestro objetivo es superar todas
						sus expectativas y asegurarnos de que este día tan especial sea absolutamente perfecto.</p>
					
					<p class="text-justify">Bienvenidos a Finca La Peraleña, el lugar donde los sueños se hacen realidad. Permítanos ser su
						guía y compañero en este emocionante viaje hacia el inicio de su vida juntos. ¡Contáctenos hoy mismo y déjenos hacer
						de su boda una experiencia inolvidable!</p>

				</div>
				<div class="col-md-12">
					<div class="image-carousel">
						{% for image in site.static_files %}
						{% if image.path contains 'fotos/bodas' %}
						<div class="item">
							<div class="thumb">
								<img src="{{ image.path }}" alt="">
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Divider: Divider -->
	<section class="divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5"
		data-bg-img="http://placehold.it/1920x1277">
		<div class="container">
			<!-- Section Content -->
			<div class="section-content">
				<div class="row">
					<div class="col-md-3 col-sm-6 wow fadeInUp animation-delay1">
						<div class="features text-center mb-md-60 mb-md-60"> <i
								class="pe-7s-culture font-48 text-white"></i>
							<h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-venues.html">Venues</a>
							</h4>
							<p class="text-white">Search by location, type &amp; capacity to find your perfect wedding
								venue</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInUp animation-delay2">
						<div class="features text-center mb-md-60"> <i class="pe-7s-note2 font-48 text-white"></i>
							<h4 class="mt-20 mb-20"><a class="text-theme-colored"
									href="page-checklist.html">Checklist</a></h4>
							<p class="text-white">Personalise your wedding checklist so that you don’t miss a thing!</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInUp animation-delay3">
						<div class="features text-center mb-md-60"> <i class="pe-7s-cash font-48 text-white"></i>
							<h4 class="mt-20 mb-20"><a class="text-theme-colored" href="page-budget.html">Budget</a>
							</h4>
							<p class="text-white">Plan and track your busget with our free wedding budget tracker</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInUp animation-delay4">
						<div class="features text-center mb-md-60"> <i class="pe-7s-shopbag font-48 text-white"></i>
							<h4 class="mt-20 mb-20"><a class="text-theme-colored" href="shop-category.html">Shop</a>
							</h4>
							<p class="text-white">Find everything you need to create the perfect wedding</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--  service content  -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay1">
					<div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
						<h4 class="mt-30">Wedding Consulting</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores
							qui.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay2">
					<div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
						<h4 class="mt-30">Wedding Planning</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores
							qui</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay3">
					<div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
						<h4 class="mt-30">Decoration</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores
							qui</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay1">
					<div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
						<h4 class="mt-30">Music</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores
							qui</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay2">
					<div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
						<h4 class="mt-30">Dresses</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores
							qui</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay3">
					<div class="services-box mb-50"> <img alt="" src="http://placehold.it/500x375">
						<h4 class="mt-30">Photography</h4>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non, dignissimos nihil unde dolores
							qui</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- end main-content -->