---
permalink: /bodas
title: Bodas - Finca la Peraleña
menu: bodas
layout: default
---
<!-- Start main-content -->
<div class="main-content">
	<!-- Section: inner-header -->
	<section class="divider parallax layer-overlay overlay-dark-5" data-stellar-background-ratio="0.5"
		data-bg-img="{{'/assets/fotos/cabecera-bodas.jpg' | relative_url}}">
		<div class="container pt-200 pb-50">
			<!-- Section Content -->
			<div class="section-content pt-100">
				<div class="row">
					<div class="col-md-12">
						<h3 class="title text-white">Bodas</h3>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section: About -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<p class="text-justify">En Finca La Peraleña, entendemos que la organización y celebración de una
						boda es un momento de
						suma importancia en la vida de una pareja. Nuestro objetivo es hacer las cosas de manera
						diferente, con una sola
						intención en mente: facilitar y hacer más sencillo el proceso. Sabemos que expresar opiniones e
						ideas sobre algo tan
						personal puede resultar complicado, por eso nos hemos comprometido en ayudar, asesorar,
						aconsejar y compartir este
						día tan especial.</p>

					<p class="text-justify">En La Peraleña, cada miembro de nuestro equipo humano comparte este
						compromiso, desde la
						gerencia hasta nuestro personal de catering. Todos estamos dedicados a brindar la máxima calidad
						y servicio a
						nuestros clientes, los novios, para asegurarnos de que obtengan siempre la mejor respuesta.
						Queremos que sepan que
						en La Peraleña los escuchamos con interés, agrado y cordialidad.</p>

					<p class="text-justify">Como parte de nuestro compromiso de ofrecer un servicio integral, también
						brindamos la
						posibilidad de celebrar la Ceremonia Civil en nuestra finca, en un entorno decorado y dedicado
						exclusivamente para
						este propósito. Esto nos permite satisfacer la creciente demanda social y proporcionar un
						escenario único y especial
						para el momento en que los novios intercambian sus votos.</p>

					<p class="text-justify">Nos apasiona ser partícipes de este día único en la vida de una pareja y nos
						esforzamos por
						crear experiencias inolvidables. En Finca La Peraleña, comprendemos que cada boda es única y
						personal. Por eso,
						trabajamos estrechamente con los novios para entender sus visiones, preferencias y sueños, y así
						poder convertirlos
						en realidad.</p>

					<p class="text-justify">Desde la elección del lugar perfecto hasta la planificación de cada detalle,
						nuestro equipo de
						expertos estará a su disposición para hacer de su boda un evento extraordinario. Nuestro
						objetivo es superar todas
						sus expectativas y asegurarnos de que este día tan especial sea absolutamente perfecto.</p>

					<p class="text-justify">Bienvenidos a Finca La Peraleña, el lugar donde los sueños se hacen
						realidad. Permítanos ser su
						guía y compañero en este emocionante viaje hacia el inicio de su vida juntos. ¡Contáctenos hoy
						mismo y déjenos hacer
						de su boda una experiencia inolvidable!</p>

				</div>
				<div class="col-md-12">
					<div class="image-carousel">
						{% for image in site.static_files %}
						{% if image.path contains 'fotos/bodas' %}
						<div class="item">
							<div class="thumb">
								<img src="{{ image.path }}" alt="">
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Divider: Divider -->
	<section class="divider parallax layer-overlay overlay-dark-4" data-stellar-background-ratio="0.5"
		data-bg-img="{{'/assets/images/pattern/p17.png' | relative_url}}">
		<div class="container">
			<!-- Section Content -->
			<div class="section-content">
				<div class="row">
					<div class="col-md-12 text-center mb-20">
						<h3 class="text-black">Servicios incluidos</h3>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3 col-sm-6 wow fadeInUp animation-delay1">
						<div class="features text-center mb-md-60 mb-md-60"> <i
								class="fa fa-solid fa-utensils font-48 text-white"></i>
							<h4 class="mt-20 mb-20"><a class="text-white">Degustación</a>
							</h4>
							<p class="text-white">Menú degustación para los novios y para 4 personas más</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInUp animation-delay2">
						<div class="features text-center mb-md-60"> <i
								class="fa fa-solid fa-headphones-simple font-48 text-white"></i>
							<h4 class="mt-20 mb-20"><a class="text-white">DJ</a></h4>
							<p class="text-white">Servicio de DJ durante toda la boda</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInUp animation-delay3">
						<div class="features text-center mb-md-60"> <i
								class="fa fa-solid fa-file font-48 text-white"></i>
							<h4 class="mt-20 mb-20"><a class="text-white">Protocolo y minutas</a>
							</h4>
							<p class="text-white">Minutas personalizadas y protocolo de distribución de mesas</p>
						</div>
					</div>
					<div class="col-md-3 col-sm-6 wow fadeInUp animation-delay4">
						<div class="features text-center mb-md-60"> <i
								class="fa fa-solid fa-people-group font-48 text-white"></i>
							<h4 class="mt-20 mb-20"><a class="text-white">Servicio</a>
							</h4>
							<p class="text-white">Servicio de maître, camareros, aparcacoches y doncella para baños</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!--  service content  -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3>Servicios opcionales</h3>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<p class="text-justify">
						En la Finca La Peraleña, nos enorgullece ofrecerte una amplia variedad de servicios opcionales
						para personalizar tu
						celebración y asegurarnos de que cada detalle sea perfecto. Estos servicios adicionales se
						contratan aparte,
						permitiéndote seleccionar aquellos que mejor se adapten a tus gustos y necesidades.
					</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay1">
					<div class="services-box mb-50"> <img alt=""
							src="{{'/assets/fotos/servicios/dj.jpg' | relative_url}}">
						<h4 class="mt-30">Barra libre</h4>
						<p>Disfruta de la fiesta sin preocupaciones. Con nuestro servicio de barra libre, puedes
							aumentar la diversión todo el tiempo que quieras.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay2">
					<div class="services-box mb-50"> <img alt=""
							src="{{'/assets/fotos/servicios/bus.jpg' | relative_url}}">
						<h4 class="mt-30">Autobuses</h4>
						<p>Si deseas garantizar la comodidad de tus invitados y facilitarles el traslado, te ofrecemos
							la opción de contratar
							servicios de transporte en autobuses.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay3">
					<div class="services-box mb-50"> <img alt=""
							src="{{'/assets/fotos/servicios/corners.jpg' | relative_url}}">
						<h4 class="mt-30">Corners</h4>
						<p>Si deseas ofrecer una experiencia culinaria variada, nuestros corners de comida de todo tipo
							son la opción perfecta para
							deleitar a tus invitados con diferentes opciones gastronómicas.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay1">
					<div class="services-box mb-50"> <img alt=""
							src="{{'/assets/fotos/servicios/flores.jpg' | relative_url}}">
						<h4 class="mt-30">Decoración floral</h4>
						<p>Nuestro equipo experto en decoración floral puede crear un ambiente mágico y elegante para tu
							ceremonia civil, los
							centros de mesa y los ramos de novia.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay2">
					<div class="services-box mb-50"> <img alt=""
							src="{{'/assets/fotos/servicios/fotografo.jpg' | relative_url}}">
						<h4 class="mt-30">Fotógrafo</h4>
						<p>Para capturar los momentos más especiales de tu boda, puedes contratar un fotógrafo
							profesional que inmortalizará cada
							instante de tu celebración.</p>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 wow fadeInUp animation-delay3">
					<div class="services-box mb-50"> <img alt=""
							src="{{'/assets/fotos/servicios/animador.jpg' | relative_url}}">
						<h4 class="mt-30">Animación</h4>
						<p>Si quieres asegurarte de que todos los invitados disfruten al máximo, ofrecemos servicios de
							animación tanto para los
							más pequeños como para los adultos.</p>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- end main-content -->