---
permalink: /eventos
title: Eventos - Finca la Peraleña
menu: eventos
layout: default
---

<!-- Start main-content -->
<div class="main-content">
	<!-- Section: inner-header -->
	<section class="inner-header divider parallax layer-overlay overlay-dark-5"
		data-bg-img="http://placehold.it/1920x1284">
		<div class="container pt-200 pb-50">
			<!-- Section Content -->
			<div class="section-content pt-100">
				<div class="row">
					<div class="col-md-12">
						<h3 class="title text-white">Eventos</h3>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section: About -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-5">
					<p class="text-justify">En Finca La Peraleña, celebramos todo tipo de eventos de empresas, particulares y sociales.
						Disponemos del lugar ideal para realizar fiestas, reuniones, presentaciones y un largo etcétera de posibilidades.
						Nuestra finca cuenta con una plaza de tientas, un gran jardín y un amplio y cómodo salón con capacidad para 320
						personas.</p>
					
					<p class="text-justify">Además, hemos tenido el honor de ser elegidos como localización para reconocidas series
						españolas como Los Hombres de Paco y Los Morancos en Operación Polvorón. Estamos muy orgullosos de haber sido
						seleccionados para formar parte de estas divertidas producciones.</p>
					
					<p class="text-justify">Para brindar un toque diferente, contamos con nuestros espectaculares caballos de pura raza
						española, que son la delicia de los espectadores.</p>
				</div>
				<div class="col-sm-12 col-md-7">
					<div class="image-carousel">
						{% for image in site.static_files %}
						{% if image.path contains 'fotos/eventos' %}
						<div class="item">
							<div class="thumb">
								<img object-fit="cover" src="{{ image.path }}" alt="">
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>