---
permalink: /finca
title: La Finca - Finca la Peraleña
menu: finca
layout: default
---

<!-- Start main-content -->
<div class="main-content">

	<!-- Section: Gallery  -->
	<section id="gallery" class="bg-black-111">
		<div class="container-fluid p-0">
			<div class="section-content">
				<div class="row">
					<div class="col-md-12">

						<!-- Portfolio Gallery Grid -->
						<div id="grid" class="portfolio-gallery masonry grid-4 clearfix" data-lightbox="gallery">

							{% for image in site.static_files %}
							{% if image.path contains 'fotos/galeria' %}

							<!-- Portfolio Item Start -->
							<div class="portfolio-item">
								<a href="{{ image.path }}" data-lightbox="gallery-item">
									<div class="thumb">
										<img class="img-fullwidth photo" src="{{ image.path }}"
											alt="project">
										<div class="overlay-shade"></div>
										<div class="icons-holder">
											<div class="icons-holder-inner">
												<div
													class="social-icons icon-sm icon-dark icon-circled icon-theme-colored">
													<i class="fa fa-search text-white"></i>
												</div>
											</div>
										</div>
									</div>
								</a>
							</div>
							<!-- Portfolio Item End -->		

							{% endif %}
							{% endfor %}		

						</div>
						<!-- End Portfolio Gallery Grid -->
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
<!-- end main-content -->