---
permalink: /
title: Bodas, bautizos, comuniones y eventos en Madrid
menu: home
layout: default
image: /assets/fotos/INICIO.webp

redirect_from:
- /inicio.html
- /eventos.html
- /galeria-de-imagenes/ultimos-eventos.html
- /ultimos-eventos.html

---

<!-- Start main-content -->
<div class="main-content">
	<h1 class="hide">Finca La Peraleña</h1>
	<!-- Section: home -->
	<!--1920x1277-->
	<section id="home" class="inner-header divider parallax fullscreen layer-overlay"
		data-stellar-background-ratio="0.5" data-bg-img="{{'/assets/fotos/INICIO.webp' | relative_url}}">
		<div class="display-table">
			<div class="display-table-cell">
				<div class="container pt-30 pb-200">
					<div class="row">
						<div class="col-md-12 text-center">
							<h2 class="tagline text-white font-72">
								<span class="typed-text-carousel" data-speed="90" data-back_delay="500"
									data-loop="true">
									<span>¡Sí quiero!</span>
									<span>Nosotros también</span>
									<span>Finca La Peraleña</span>
									<span>Bodas y eventos</span>
								</span>
							</h2>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section: About -->
	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-12 col-md-12  text-black">
					<p class="text-justify">Ubicada en un marco natural en <b>Madrid</b>, Finca La Peraleña nació con la
						idea de
						desarrollar toda su
						experiencia en la
						celebración de
						eventos, ofreciendo y garantizando un trato cercano y personalizado.
					</p>

					<p class="text-justify">Un escenario en plena naturaleza, a escasa media hora de <b>Madrid</b>.
						10.000
						metros cuadrados de
						jardines, terrazas,
						parking
						privado, cuadra de caballos y una bonita plaza de tientas, harán de vuestra celebración algo
						inusual
						en un ambiente
						<b>exclusivo</b>. La idea de disfrutar de la naturaleza prima en la filosofía de la Finca La
						Peraleña, ofreciendo a
						vuestros invitados la posibilidad de disfrutar de nuestra exclusiva hostelería, en un salón
						acristalado, con capacidad
						para <b>más de 350 comensales</b> con
						maravillosas vistas, integrado en los encantos del jardín. Nuestra gastronomía tiene como base
						la cocina del
						magnífico
						<b>chef Julio Reoyo, triple estrella Michelin</b>, el cual confeccionará el menú de vuestra boda
						con
						su
						inconfundible toque
						creativo.
					</p>

					<h3 class="text-center mt-50 mb-50">
						¡Os aseguramos el éxito!
					</h3>

					<p class="text-justify">
						Más de dos décadas de experiencia nos avalan en la celebración de eventos particulares como
						bodas,
						bautizos, comuniones… eventos sociales, de empresa tales como reuniones, comidas y cenas,
						presentación de productos
						y todo ello sin salir de <b>Madrid</b>.
					</p>
					<p class="text-justify">
						Finca La Peraleña pone a vuestro servicio una plantilla de grandes profesionales, para hacer que
						vuestra
						celebración se
						convierta en un acto singular y marque la diferencia.
					</p>

				</div>
			</div>
		</div>
	</section>

	<!-- Divider: Funfact -->
	<section class="divider parallax layer-overlay overlay-dark-7" data-stellar-background-ratio="0.5"
		data-bg-img="{{'/assets/images/pattern/p16.jpg' | relative_url}}">
		<div class="container pt-90 pb-90">
			<div class="row">
				<div class="col-xs-12 col-sm-6 col-md-2 mb-md-50">
					<div class="funfact text-center pt-15 pb-15 p-0">
						<a href="#"><i class="fa fa-trophy text-theme-colored"></i></a>
						<!-- <h2 class="animate-number text-white m-0" data-value="+20" data-animation-duration="2000">0</h2> -->
						<h5 class="text-gray-silver pt-20">+20 años de experiencia</h5>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2 mb-md-50">
					<div class="funfact text-center pt-15 pb-15 p-0">
						<a href="#"><i class="fa fa-ring text-theme-colored"></i></a>
						<!-- <h2 class="animate-number text-white m-0" data-value="250" data-animation-duration="2500">0</h2> -->
						<h5 class="text-gray-silver pt-20">Bodas</h5>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2 mb-md-50">
					<div class="funfact text-center pt-15 pb-15 p-0">
						<a href="#"><i class="fa fa-baby text-theme-colored"></i></a>
						<!-- <h2 class="animate-number text-white m-0" data-value="20" data-animation-duration="3000">0</h2> -->
						<h5 class="text-gray-silver pt-20">Bautizos</h5>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2 mb-md-50">
					<div class="funfact text-center pt-15 pb-15 p-0">
						<a href="#"><i class="fa fa-children text-theme-colored"></i></a>
						<!-- <h2 class="animate-number text-white m-0" data-value="30" data-animation-duration="3500">0</h2> -->
						<h5 class="text-gray-silver pt-20">Comuniones</h5>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2 mb-md-50">
					<div class="funfact text-center pt-15 pb-15 p-0">
						<a href="#"><i class="fa fa-people-roof text-theme-colored"></i></a>
						<!-- <h2 class="animate-number text-white m-0" data-value="350" data-animation-duration="3500">0</h2> -->
						<h5 class="text-gray-silver pt-20">Eventos sociales</h5>
					</div>
				</div>
				<div class="col-xs-12 col-sm-6 col-md-2 mb-md-50">
					<div class="funfact text-center pt-15 pb-15 p-0">
						<a href="#"><i class="fa-solid fa-champagne-glasses text-theme-colored"></i></a>
						<!-- <h2 class="animate-number text-white m-0" data-value="500" data-animation-duration="3500">0</h2> -->
						<h5 class="text-gray-silver">Capacidad para +350 comensales</h5>
					</div>
				</div>
			</div>
		</div>
	</section>

	<!-- Section: About -->
	<section>
		<div class="container">
			<div class="row mt-30 mb-30">
				<div class="col-sm-12 col-md-5 text-black">

					<p class="text-justify">
						En Finca La Peraleña, celebramos todo tipo de eventos de empresas, particulares y sociales.
						Disponemos del lugar ideal para realizar fiestas, reuniones, presentaciones y un largo etcétera
						de posibilidades. Nuestra finca cuenta con una plaza de tientas, un gran jardín y un amplio y
						cómodo salón con capacidad para más de 350 personas.
					</p>
					<p class="text-justify">
						Además, hemos tenido el honor de ser elegidos como localización para reconocidas series
						españolas como Los Hombres de Paco y Los Morancos en Operación Polvorón. Estamos muy orgullosos
						de haber sido seleccionados para formar parte de estas divertidas producciones.
					</p>
					<p class="text-justify">
						Para brindar un toque diferente, contamos con nuestros espectaculares caballos de pura raza
						española, que son la delicia de los espectadores
					</p>

				</div>

				<div class="col-sm-12 col-md-7">
					<div class="image-carousel">
						{% for image in site.static_files %}
						{% if image.path contains 'fotos/inicio' %}
						<div class="item">
							<div class="thumb">
								<img src="{{ image.path }}" alt="">
							</div>
						</div>
						{% endif %}
						{% endfor %}
					</div>
				</div>
			</div>
		</div>
	</section>

</div>
<!-- end main-content -->