<!DOCTYPE html>
<html dir="ltr" lang="es">

{% include head.html %}

<body class="fullwidth-page dark">
	<!-- Google Tag Manager Ads fincalaperalena.com (noscript) by anunciosgoogle.com -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-WTKHXP9J" height="0" width="0"
			style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->

	<div id="wrapper" class="clearfix">
		<div id="preloader">
			<div id="spinner">
				<img src="{{'/assets/images/preloaders/4.gif' | relative_url }}" alt="">
			</div>
		</div>

		<!-- Start main menu -->
		{% include menu.html %}
		<!-- End main menu -->

		<!-- Start main-content -->
		{{content}}
		<!-- end main-content -->

		{% include footer.html %}

		<a class="scrollToTop" href="#"><i class="fa fa-angle-up"></i></a>
	</div>
	<!-- end wrapper -->


	<!-- Footer Scripts -->
	<!-- JS | Custom script for all pages -->
	<script src="{{'/assets/js/custom.js' | relative_url }}"></script>
</body>

</html>